<!DOCTYPE html>
<html>
  <head>
    <title>Agencecub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <% cache 'navbar' do %>
        <%= render partial: "shared/navbar" %>
      <% end %>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
      <%= render partial: "shared/footer" %>
    </footer>
  </body>
</html>
